upload-data #page-inner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: transparent;
    min-height: 500px;
}

upload-data .row {
    margin-right: -15px;
    margin-left: -15px;
    width: 600px;
}

upload-data .text-center {
    text-align: center;
    margin-bottom: 25px;
    color: chocolate;
}

upload-data form.ng-pristine.ng-valid {
    border: 1px solid chocolate;
    color: darkcyan;
    padding: 10px;
}

upload-data h3 {
    text-align: center;
}

upload-data input[type=file] {
    margin: 2% 22.5%;
    width: 250px;
    display: block;
}

upload-data input[type="text"] {
    margin: 2% 22.5%;
    width: 250px;
    display: block;
}

upload-data button {
    margin: 2% 22.5%;
    width: 250px;
    display: block;
}