<div id="page-wrapper">
  <div class="header"> 
    <h1 class="page-header">
      Sửa môn học 
  </h1>
  <ol class="breadcrumb">
      <li><a href="">Admin</a></li>
      <li><a href="">Timetable</a></li>
      <li class="active">Edit</li>
  </ol> 

</div>
<div id="page-inner">
    <div class="alert alert-{{self.typeMessage}}" >
        <strong>{{self.message}}</strong>
    </div>

    <div class="row">

      <form role="form">
        <h2 class="text-center">Chỉnh sửa thời khóa biểu</h2>
        <fieldset disabled="">
            <div class="form-group">
                <label for="disabledSelect">Học kỳ hiện tại</label>
                <select id="disabledSelect" class="form-control" >
                    <option value="{{self.semesterName}}">{{self.semesterName}}</option>
                </select>
            </div>
        </fieldset>
        <div class="form-group">
            <label>Chọn mã môn học</label>
            <select class="form-control" ng-model="self.CourseName" ng-click="self.getInfo()">
                <option ng-repeat="t in self.listTimeslot track by $index" >{{t.CourseName}}</option>
            </select>
        </div>

        <div class="form-group">
            <label>Chọn thứ</label>
            <select class="form-control" ng-model="self.day" ng-click="self.getPeriod()">
                <option ng-repeat="s in self.thu" >{{s}}</option>
            </select>
        </div>

      <div class="form-group">
          <label>Tiết đầu</label>
          <input class="form-control"  required="" ng-model="self.tietbd" placeholder="">
      </div>

      <div class="form-group">
          <label>Tiết cuối</label>
          <input class="form-control"  required="" ng-model="self.tietkt" placeholder="">
      </div>

      <div class="form-group">
            <label>Sửa phòng học</label>
            <select class="form-control" ng-model="self.RoomName" ng-click="">
                <option ng-repeat="r in self.listRoom">{{r.RoomName}}</option>
            </select>
        </div>

      <button type="submit" class="btn btn-primary" ng-click="self.editTimeslot()">Submit </button>
      <button type="reset" class="btn btn-default">Reset </button>
  </form>

</div>


</div>

<!-- /. PAGE INNER  -->
<footer><p>Đại học Công nghệ - ĐHQGHN</p></footer>
</div>