    .top {
      display: block;
      margin: 0 auto;
      height: 85%;
      width: 50%;
    }

    .frame {
      display: block;
      height: 100%;
      width: 80%;
      background-color: white;
      margin: 0 auto;
      margin-top: 10%;
      animation-duration: 2s;
      padding: 5% 0% 5%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      -webkit-border-radius: 5px;
    }

    .login-main {
      text-align: center;
    }

    h1 {
      font-size: 2.5em;
      color: #2989A6;
    }

    .logo1 {
      width: 200px;
      max-width: 100%;
      height: auto;
    }

    .logo-box {
      display: inline-block
        /* Logo nằm bên cạnh */
    }

    .login-box {
      display: inline-block;
      width: 40%;
      min-width: 175px;
    }

    .icon {
      position: absolute;
      padding: 10px;
    }

    .form-item {
      width: 100%;
      margin-bottom: 20px;
    }

    .input-information {
      width: 100%;
      height: 35px;
      border: none;
      -webkit-border-radius: 5px;
      /* Góc bo tròn*/
      background-color: rgb(220, 255, 248);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      padding-left: 32px;
      box-sizing: border-box;

    }

    .input-information[type="submit"] {
      height: 50px;
      width: 100%;
      padding: 0px;
      background-color: #00C9A7;
      font-size: 26px;
      border: none;
      -webkit-border-radius: 5px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .input-wrap .has-icon {
      width: 100%;
      white-space: nowrap;
    }

    .input-theme {
      width: 100%;
    }

    .bottom {
      animation-duration: 2s;
      display: block;
      text-align: center;
      margin: 0 auto;
      width: 20%;
      height: 50px;
    }

    @media only screen and (max-width:1000px) {

      /* For mobile phones: */
      .login-box {
        width: 85%;

      }
      .top {
        width: 65%;
      }

    }

    @media only screen and (max-width:620px) {

      /* For mobile phones: */
      .login-box {
        width: 90%;

      }
      .top {
        width: 100%;
      }

    }