dashboard-page .dashboard {
    margin: auto;
    width: 80%;

}

dashboard-page .semester-listbox {
    height: 50px;
    width: 100px;
}

dashboard-page .dashboard-main {
    width: 100%;
    height: 100%;
}

dashboard-page .dashboard-cards {
    position: relative;
    width: 100%;
    height: 25%;
    margin-bottom: 20px;
}

dashboard-page .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    height: 100%;
    position: relative;
}

dashboard-page .card {
    min-height: 100px;
}

dashboard-page .card:hover {
    box-shadow: 0 1px 10px black;
    transition-timing-function: all ease-in-out;
}

dashboard-page .container-menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

dashboard-page .menu-item {
    position: relative;
    text-align: center;
    min-height: 150px;
    height: 10vw;
    border-radius: 0.25rem;
    background-color: #FFAEAE;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

}

dashboard-page .menu-item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 0.25rem;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

dashboard-page .menu-item:hover::after {
    opacity: 1;
}

dashboard-page .menu-item:hover {
    transform: scale(1.05, 1.07);
}


dashboard-page .card-information-wrap {
    padding: 15px 0px 0px 15px;
}

dashboard-page .card {
    background-color: #95E7FF;
    border-radius: 0.25rem;
    min-width: 100px;
}

dashboard-page .card-number {
    font-size: 2.3rem;
    font-weight: 1000;
}

dashboard-page .item-title {
    font-size: 2rem;
    font-weight: 1500;
}

@media only screen and (max-width:800px) {

    /* For mobile phones: */
    dashboard-page .container {
        grid-template-columns: repeat(2, 1fr);
    }

    dashboard-page .dashboard {
        width: 90%;
    }

    dashboard-page .item-title {
        font-size: 1.775rem;

    }

    dashboard-page .container-menu {
        grid-gap: 15px;
    }
}

@media only screen and (max-width: 530px) {
    dashboard-page .container-menu {
        grid-template-columns: repeat(1, 1fr);
    }

    dashboard-page .dashboard {
        width: 95%;
    }

    dashboard-page .item-title {
        font-size: 1.75rem;

    }

    dashboard-page .container-menu {
        grid-gap: 10px;
    }
}

h1, h2 {
    color: #ffc107;
}
