timetable-man .float-right {
	float: right;
}

timetable-man .text-center{
	text-align: center;
}


timetable-man span.span-head{
	margin: 50px;
}

timetable-man table#data-table, table#normal-table {
	width: 80%;
	margin: 0 auto;
}


timetable-man table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
text-align: center;
}

timetable-man th, td {
	font-size: 16px;
  padding: 15px;
}

timetable-man th {
	background-color: #e0ebeb;
}	


timetable-man div.card {
	width: 60%;
	margin: 0 auto;
	padding: 0 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

timetable-man label {
  display: inline-block;
}

timetable-man .col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
  text-align: left;
}

timetable-man .col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

timetable-man .form-row:after {
  content: "";
  display: table;
  clear: both;
}

timetable-man input[type=text], input[type=number], select.form-select{
	width: 90%;
	padding: 12px;
}


timetable-man input[type=submit] {
	background-color: DodgerBlue;
	margin-top: 6px;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


timetable-man footer {
	position: relative;
	bottom: 0;
	left: 0;
}