<div id="page-wrapper">
  <div class="header"> 
    <h1 class="page-header">
      Thêm phòng học mới 
    </h1>
    <ol class="breadcrumb">
      <li><a href="">Admin</a></li>
      <li><a href="">Room</a></li>
      <li class="active">New</li>
    </ol> 

  </div>
  <div id="page-inner">
    
    <div class="alert alert-{{self.typeMessage}}" >
        <strong>{{self.message}}</strong>
    </div>

    <div class="row">

      <form role="form" class="content">
        <h2 class="text-center">Thêm phòng</h2>
        <div class="form-group">
          <label>Tên phòng</label>
          <input class="form-control" placeholder="" ng-model="self.name">
        </div>
        <div class="form-group">
          <label>Địa chỉ</label>
          <input class="form-control" placeholder="" ng-model="self.address" required="">
        </div>
        <div class="form-group">
            <label>Tình trạng phòng</label>
            <select class="form-control" name="statusRoom" ng-model="self.statusRoom" required="">
                <option value="Có thể sử dụng">Có thể sử dụng</option>
                <option value="Chưa thể sử dụng">Chưa thể sử dụng</option>
            </select>
        </div>
        <div class="form-group">
          <label>Sức chứa</label>
          <input class="form-control" placeholder="" required="" ng-model="self.capacity">
        </div>
        
        <button type="submit" class="btn btn-primary" ng-click="self.createRoom()">Submit </button>
        <button type="reset" class="btn btn-default">Reset </button>
      </form>

    </div>


  </div>

  <!-- /. PAGE INNER  -->
  <footer><p>Đại học Công nghệ - ĐHQGHN</p></footer>
</div>