student-interface .semester-list{
  height: 20px;
  margin-bottom: 25px;
}

student-interface .timetable{
  height: 100%;
  width: 100%;
}

student-interface table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

student-interface table {
  margin: auto;
  width: 80%;
}

student-interface th,td {
  padding: 10px;
}
student-interface th{
  background-color: #cac9b5;
}