<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name=viewport content="width=device-width, initial-scale=1">
	<title>Login</title>
	<script src="./bower_components/angular/angular.min.js" type="text/javascript"></script>
	<link rel="stylesheet" href="src/assets/css/login.css">
</head>
<body >

  <div class="container" ng-app="myLogin" ng-controller="login">

   <div class="form" id="login">  

    <form action="/#!/admin/dashboard" method="GET" class="loginClass">

      <div class="form-title">
        Đăng nhập 
      </div>

      <div class="input-form">
        <div class="icon">
          <i class="fas fa-user" aria-hidden="true"></i>
        </div>
        <input type="text" placeholder="Tên đăng nhập" ng-change="login()" required="" ng-model="ID">
      </div>

      <div class="input-form">
        <div class="icon">
          <i class="fa fa-lock" aria-hidden="true"></i>
        </div>
        <input type="password" placeholder="Mật khẩu" ng-change="login()" required="" ng-model="password" required="">
      </div>
      <button id="submit" type="{{type}}" >Đăng nhập</button>
    </form>

  </div>
</div>


<script>

  var app = angular.module('myLogin', []);
  app.controller('login', function($scope, $http, $location) {

    $scope.type = 'button';
  $scope.login = function () {
    var req = {
            method: 'POST',
            url: "http://localhost:3000/signin/user/",
            headers: {
                'Content-Type': 'application/json'
            },
            data: {
              ID: $scope.ID,
              password: $scope.password
            }
        }

        $http(req).then(function (res) {
            //console.log($location.host());
            //$location.path('/');

            $scope.type = 'submit'

        }, function (res) {
            //event.preventDefault();
            console.log(res);
        }); 
  }
});
  
</script>
</body>
</html>