<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name=viewport content="width=device-width, initial-scale=1">
	<title>Login</title>
	<script src="./bower_components/angular/angular.min.js" type="text/javascript"></script>
	<link rel="stylesheet" href="src/assets/css/login.css">
</head>
<body>

  <div class="container">

   <div class="form" id="login">  

    <form action="/#!/admin/dashboard" method="GET" class="loginClass">

      <div class="form-title">
        Đăng nhập 
      </div>

      <div class="input-form">
        <div class="icon">
          <i class="fas fa-user" aria-hidden="true"></i>
        </div>
        <input type="text" placeholder="Tên đăng nhập" required="" ng-model="self.username">
      </div>

      <div class="input-form">
        <div class="icon">
          <i class="fa fa-lock" aria-hidden="true"></i>
        </div>
        <input type="password" placeholder="Mật khẩu" required="" ng-model="self.password" required="">
      </div>
      <button id="submit" type="submit" ng-click="self.login()">Đăng nhập</button>
    </form>

  </div>
</div>



</body>
</html>