delete-timetable #page-inner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: transparent;
    min-height: 500px;
}

delete-timetable .row {
    margin-right: -15px;
    margin-left: -15px;
    width: 600px;
    
}

delete-timetable .text-center {
    text-align: center;
    margin-bottom: 25px;
    color: chocolate;
}
